<footer>
    <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
            v.0.0.0
        </li>
        <li class="nav-item">
            <a href="/netsuivi/conditions-utilisations">Conditions d'utilisations</a>
        </li>
        <li>
        <span class="d-flex justify-content-center align-items-center fullBrand">
        <!--  <img src="images/icons/ppm-logo.svg" alt="logo PrimPromo" class="logo">-->
          <ul>
            <li class="font-weight-bold">PrimPromo</li>
            <li class="small">by Open</li>
          </ul>
        </span>
        </li>
        <li>
            <span class="btn btn-sm btn-outline-primary" id="topPage"><i class="fas fa-arrow-left"></i></span>
        </li>
    </ul>
</footer>
<!-- bandeau RGPD -->
<div id="cookie-policy-popin" class="alert alert-dismissible bg-dark text-white fade show p-4 d-flex align-items-center">
    <span class="mr-3">Nous utilisons les cookies pour améliorer votre expérience utilisateur sur notre site.<br> En poursuivant votre navigation, vous acceptez l’utilisation de nos cookies.</span>
    <span><button type="button" class="btn btn-sm btn-warning" data-dismiss="alert">OK</button>
  <a href="#" class="btn btn-sm btn-outline-secondary">en savoir plus</a></span>
</div>
<!-- Script Custom -->
<script>
        //pluggin bowser tester --
      // https://browser-update.org
      var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2019.07 };
      function $buo_f(){
       var e = document.createElement("script");
       e.src = "//browser-update.org/update.min.js";
       document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
  </script>
<script src="config/js.js"></script>
</body>
</html>








<!--
<footer>
    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item">
        v.0.0.0
      </li>
      <li class="nav-item">
        <a href="/netsuivi/conditions-utilisations">Conditions d'utilisations</a>
      </li>
      <li>
          <span class="d-flex justify-content-center align-items-center fullBrand">
            <img src="../../../content/images/icons/ppm-logo.svg" alt="logo PrimPromo" class="logo">
            <ul>
              <li class="font-weight-bold">PrimPromo</li>
              <li class="small">by Open</li>
            </ul>
          </span>      
      </li>
      <li>
        <span class="btn btn-sm btn-outline-primary" id="topPage"><i class="fas fa-arrow-left"></i></span>
      </li>    
    </ul>
  </footer>-->
