<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-client-heading" jhiTranslate="nisrineGatewayApp.demandeMicroServiceClient.home.createOrEditLabel">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!client.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="client.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceClient.client_nom" for="field_client_nom">Client Nom</label>
                    <input type="text" class="form-control" name="client_nom" id="field_client_nom"
                        [(ngModel)]="client.client_nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceClient.client_numero" for="field_client_numero">Client Numero</label>
                    <input type="number" class="form-control" name="client_numero" id="field_client_numero"
                        [(ngModel)]="client.client_numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceClient.faitSaMiseEnProduction" for="field_faitSaMiseEnProduction">Fait Sa Mise En Production</label>
                    <input type="checkbox" class="form-control" name="faitSaMiseEnProduction" id="field_faitSaMiseEnProduction"
                        [(ngModel)]="client.faitSaMiseEnProduction" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
