.demande .card h4 {
    color: rgba(0, 0, 0, 0.8);
}
.demande .quote {
    position: relative;
}
.demande .quote:after {
    position: absolute;
    top: 0;
    content: '';
    right: calc(100% + 1em);
    height: 100%;
    width: 4px;
    border-radius: 4px;
}
.developpement-termine .quote:after {
    background-color: #2196f3;
}
.developpement-termine .quote .d-flex {
    color: #2196f3;
}
.recette-client-ok .quote:after {
    background-color: #009688;
}
.recette-client-ok .quote .d-flex {
    color: #009688;
}
.mise-en-production .quote:after {
    background-color: #3caf4a;
}
.mise-en-production .quote .d-flex {
    color: #3caf4a;
}
.detecte .quote:after {
    background-color: #ff9800;
}
.detecte .quote .d-flex {
    color: #ff9800;
}
.switch span {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    position: relative;
}
.switch span:after {
    position: absolute;
    top: 100%;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #fff;
}
.switchClient .switch span:nth-child(1),
.switchOpen .switch span:nth-child(2) {
    color: #ac1167;
    font-weight: bold;
}
.switchClient .switch span:nth-child(1):after,
.switchOpen .switch span:nth-child(2):after {
    background-color: #ac1167;
}
.customCard button.btn-outline-custom {
    color: #ac1167;
    background-color: #fff;
    border-color: #ac1167;
}
.customCard button.btn-outline-custom a {
    color: #ac1167;
}
.customCard .quote svg {
    height: 3em;
}
.megamenu-li {
    position: static;
}
#main-search .scrollableTab {
    height: 250px;
}
