<!--

contenu de page

-->
<!--
  Appel Biblio plug-in wysiwyg editor
 -->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script> -->


<div class="demande py-5 animated animBottom">
    <div class="container">
        <ol class="breadcrumb small d-md-flex d-lg-none">
            <li class="breadcrumb-item"><a href="/netsuivi/dashboard">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/netsuivi/demandes">Demandes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouvelle Demande</li>
        </ol>
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demande-heading" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.home.createOrEditLabel">Create or edit a Demande</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>

        <div class="card mb-4 shadow-sm">
            <div class="card-header d-flex flexBetweenColumn pt-5 pb-5">
                <div>
                    <div class="mb-4">
                        <label for="" class="text-custom">Demande</label>
                        <input type="text" class="form-control" 
                        placeholder="Nouvelle Demande" value="" 
                        required=""
                        name="dm_libelle" id="field_dm_libelle"
                        [(ngModel)]="demande.dm_libelle"
                        >
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="" class="text-custom">Numéro</label>
                            <input type="text" class="form-control" placeholder="-" value="" required=""
                            name="dm_numero" id="field_dm_numero"
                            [(ngModel)]="demande.dm_numero"
                            >
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="" class="text-custom">Client</label>
                            <input type="text" class="form-control" placeholder="Client-TEST" value="" required="">
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="d-flex align-items-center mb-2 mt-4">
                        <i class="fas fa-circle text-primary"></i>
                        <ul class="ml-2">
                            <li>Créé le</li>
                            <li>par -</li>
                        </ul>
                    </li>
                    <li class="d-flex align-items-center mb-2 mt-4">
                        <i class="fas fa-circle text-info"></i>
                        <ul class="ml-2">
                            <li>Modifié le</li>
                            <li>par -</li>
                        </ul>
                    </li>
                    <li>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#RespondersList"><i class="fas fa-history"></i> historique</button>
                    </li>
                </ul>
            </div>
            <div class="card-body pt-5 pb-5">
                <div class="row">
                    <div class="col-lg-5">
                        <h3 class="mb-4">Titre à définir</h3>
                        <label for="" class="text-custom">Type de demande</label>
                        <select class="custom-select d-block w-100 mb-3"
                        name="dm_type"
                        [(ngModel)]="demande.dm_type"
                         id="country" required="">
                            <option value="Evolution avec BC">Evolution avec BC</option>
                            <option value="Evolution dans CS">Evolution dans CS</option>
                            <option value="Hotline">Hotline</option>
                        </select>
                        <label for="" class="text-custom">Priorité</label>
                        <select class="custom-select d-block w-100 mb-3" id="country" required=""
                        name="dm_priorite" id="field_dm_priorite"
                        [(ngModel)]="demande.dm_priorite"
                        >
                            <option value="Basse">Basse</option>
                            <option value="Moyenne">Moyenne</option>
                            <option value="Haute">Haute</option>
                        </select>
                        <label for="" class="text-custom">Statut</label>
                        <select class="custom-select d-block w-100 mb-4" id="country" required=""
                        name="dm_statut" 
                        [(ngModel)]="demande.dm_statut"
                        >
                            <option value="Détecté">Détecté</option>
                            <option value="Etude CDC client en cours">Etude CDC client en cours</option>
                            <option value="Accord client SFD">Accord client SFD</option>
                        </select>
                        <label for="" class="text-custom">Clotûre de la DM</label>
                        <div class="d-flex align-items-center mb-4 stopPropa">
                            <div class="mr-2">
                                <span class="mr-3">Cloturée</span>
                                <button type="button" class="btn btn-xs btn-toggle mr-3 active" data-toggle="button" aria-pressed="true" autocomplete="off">
                                    <div class="handle"></div>
                                </button>
                                <span>En cours</span>
                            </div>
                        </div>
                        <label for="" class="text-custom">Intervention</label>
                        <div class="d-flex align-items-center mb-4 stopPropa">
                            <div class="mr-2">
                                <span class="mr-3">Client</span>
                                <button type="button" class="btn btn-xs btn-toggle mr-3 active" 
                                        data-toggle="button" 
                                        aria-pressed="true" 
                                        autocomplete="off"
                                        name="intervenant" id="field_intervenant"
                                         [(ngModel)]="demande.intervenant"
                        >
                                    <div class="handle"></div>
                                </button>
                                <span>Open</span>
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6">
                        <h3 class="mb-4">Avancement</h3>
                        <label for="" class="text-custom">Date souhaitée</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control"  placeholder="-"
                            name="dateLivraisonSouhaitee" ngbDatepicker  #dateLivraisonSouhaiteeDp="ngbDatepicker" [(ngModel)]="demande.dateLivraisonSouhaitee"
                            >
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateLivraisonSouhaiteeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                         
                        </div>
                        <label for="" class="text-custom">Accord Devis</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control" 
                             placeholder=""
                            name="dateAccordDevis" 
                            ngbDatepicker 
                             #dateAccordDevisDp="ngbDatepicker" 
                             [(ngModel)]="demande.dateAccordDevis"
                            >
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateAccordDevisDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                        </div>
                        <label for="" class="text-custom">Livraison prévue</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control" 
                             placeholder=""
                             name="dateLivraisonPrevue" ngbDatepicker  
                             #dateLivraisonPrevueDp="ngbDatepicker" 
                             [(ngModel)]="demande.dateLivraisonPrevue">
                             <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateLivraisonPrevueDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                        </div>
                        <label for="" class="text-custom">Mise en recette</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control"  placeholder=""
                            name="dateMiseEnRecette" ngbDatepicker  
                             #dateMiseEnRecetteDp="ngbDatepicker" 
                             [(ngModel)]="demande.dateMiseEnRecette"
                             >
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateMiseEnRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                        </div>
                        <label for="" class="text-custom">Validation recette</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control" 
                             placeholder=""
                             name="dateValidationRecette" ngbDatepicker 
                              #dateValidationRecetteDp="ngbDatepicker" 
                             [(ngModel)]="demande.dateValidationRecette"
                             >
                             <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateValidationRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                           
                        </div>
                        <label for="" class="text-custom">Mise en production</label>
                        <div class="input-group date mb-3">
                            <input type="text" class="form-control" 
                             placeholder=""
                             name="dateMiseEnProduction" ngbDatepicker 
                              #dateMiseEnProductionDp="ngbDatepicker"
                              [(ngModel)]="demande.dateMiseEnProduction"
                             >
                             <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateMiseEnProductionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class=" form-group mt-4 mb-4">
                    <h3 class="mb-3">Commentaire</h3>
                    <div id="summernote"></div>
                    <textarea class="form-control" name="description" id="field_description"
                    [(ngModel)]="demande.description">

                    </textarea>
                 
                </div>
            </div>
        </div><!-- / card -->
        <!--<div class="d-flex justify-content-center align-items-center mt-4 mb-4">
            <button type="button" class="btn btn-outline-secondary my-2 mr-2">Annuler</button>
           <button type="button" class="btn btn-custom">Enregistrer</button>
            <button type="button" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Enregistrer</span>
        </div>-->
        <div>
            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Enregistrer</span>
            </button>
        </div>


         </div><!-- / container -->
</div><!-- / album -->





<!--

<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demande-heading" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.home.createOrEditLabel">Create or edit a Demande</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!demande.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="demande.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_numero" for="field_dm_numero">Dm Numero</label>
                    <input type="number" class="form-control" name="dm_numero" id="field_dm_numero"
                        [(ngModel)]="demande.dm_numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_libelle" for="field_dm_libelle">Dm Libelle</label>
                    <input type="text" class="form-control" name="dm_libelle" id="field_dm_libelle"
                        [(ngModel)]="demande.dm_libelle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_statut" for="field_dm_statut">Dm Statut</label>
                    <input type="text" class="form-control" name="dm_statut" id="field_dm_statut"
                        [(ngModel)]="demande.dm_statut" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_type" for="field_dm_type">Dm Type</label>
                    <input type="text" class="form-control" name="dm_type" id="field_dm_type"
                        [(ngModel)]="demande.dm_type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_priorite" for="field_dm_priorite">Dm Priorite</label>
                    <input type="text" class="form-control" name="dm_priorite" id="field_dm_priorite"
                        [(ngModel)]="demande.dm_priorite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.intervenant" for="field_intervenant">Intervenant</label>
                    <input type="text" class="form-control" name="intervenant" id="field_intervenant"
                        [(ngModel)]="demande.intervenant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="demande.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.visibleSurInternet" for="field_visibleSurInternet">Visible Sur Internet</label>
                    <input type="checkbox" class="form-control" name="visibleSurInternet" id="field_visibleSurInternet"
                        [(ngModel)]="demande.visibleSurInternet" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateLivraisonSouhaitee" for="field_dateLivraisonSouhaitee">Date Livraison Souhaitee</label>
                    <div class="input-group">
                        <input id="field_dateLivraisonSouhaitee" type="text" class="form-control" name="dateLivraisonSouhaitee" ngbDatepicker  #dateLivraisonSouhaiteeDp="ngbDatepicker" [(ngModel)]="demande.dateLivraisonSouhaitee"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonSouhaiteeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateAccordDevis" for="field_dateAccordDevis">Date Accord Devis</label>
                    <div class="input-group">
                        <input id="field_dateAccordDevis" type="text" class="form-control" name="dateAccordDevis" ngbDatepicker  #dateAccordDevisDp="ngbDatepicker" [(ngModel)]="demande.dateAccordDevis"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAccordDevisDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateLivraisonPrevue" for="field_dateLivraisonPrevue">Date Livraison Prevue</label>
                    <div class="input-group">
                        <input id="field_dateLivraisonPrevue" type="text" class="form-control" name="dateLivraisonPrevue" ngbDatepicker  #dateLivraisonPrevueDp="ngbDatepicker" [(ngModel)]="demande.dateLivraisonPrevue"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonPrevueDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateMiseEnRecette" for="field_dateMiseEnRecette">Date Mise En Recette</label>
                    <div class="input-group">
                        <input id="field_dateMiseEnRecette" type="text" class="form-control" name="dateMiseEnRecette" ngbDatepicker  #dateMiseEnRecetteDp="ngbDatepicker" [(ngModel)]="demande.dateMiseEnRecette"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateMiseEnRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateValidationRecette" for="field_dateValidationRecette">Date Validation Recette</label>
                    <div class="input-group">
                        <input id="field_dateValidationRecette" type="text" class="form-control" name="dateValidationRecette" ngbDatepicker  #dateValidationRecetteDp="ngbDatepicker" [(ngModel)]="demande.dateValidationRecette"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateValidationRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateMiseEnProduction" for="field_dateMiseEnProduction">Date Mise En Production</label>
                    <div class="input-group">
                        <input id="field_dateMiseEnProduction" type="text" class="form-control" name="dateMiseEnProduction" ngbDatepicker  #dateMiseEnProductionDp="ngbDatepicker" [(ngModel)]="demande.dateMiseEnProduction"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateMiseEnProductionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="demande.clientId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.histouriqueStatutDemande" for="field_histouriqueStatutDemande">Histourique Statut Demande</label>
                    <select class="form-control" id="field_histouriqueStatutDemande" name="histouriqueStatutDemande" [(ngModel)]="demande.histouriqueStatutDemandeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="histouriqueStatutDemandeOption.id" *ngFor="let histouriqueStatutDemandeOption of histouriquestatutdemandes; trackBy: trackHistouriqueStatutDemandeById">{{histouriqueStatutDemandeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
-->
