<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demande-heading" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.home.createOrEditLabel">Create or edit a Demande</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!demande.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="demande.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_numero" for="field_dm_numero">Dm Numero</label>
                    <input type="number" class="form-control" name="dm_numero" id="field_dm_numero"
                        [(ngModel)]="demande.dm_numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_libelle" for="field_dm_libelle">Dm Libelle</label>
                    <input type="text" class="form-control" name="dm_libelle" id="field_dm_libelle"
                        [(ngModel)]="demande.dm_libelle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_statut" for="field_dm_statut">Dm Statut</label>
                    <input type="text" class="form-control" name="dm_statut" id="field_dm_statut"
                        [(ngModel)]="demande.dm_statut" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_type" for="field_dm_type">Dm Type</label>
                    <input type="text" class="form-control" name="dm_type" id="field_dm_type"
                        [(ngModel)]="demande.dm_type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dm_priorite" for="field_dm_priorite">Dm Priorite</label>
                    <input type="text" class="form-control" name="dm_priorite" id="field_dm_priorite"
                        [(ngModel)]="demande.dm_priorite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.intervenant" for="field_intervenant">Intervenant</label>
                    <input type="text" class="form-control" name="intervenant" id="field_intervenant"
                        [(ngModel)]="demande.intervenant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="demande.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.visibleSurInternet" for="field_visibleSurInternet">Visible Sur Internet</label>
                    <input type="checkbox" class="form-control" name="visibleSurInternet" id="field_visibleSurInternet"
                        [(ngModel)]="demande.visibleSurInternet" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateLivraisonSouhaitee" for="field_dateLivraisonSouhaitee">Date Livraison Souhaitee</label>
                    <div class="input-group">
                        <input id="field_dateLivraisonSouhaitee" type="text" class="form-control" name="dateLivraisonSouhaitee" ngbDatepicker  #dateLivraisonSouhaiteeDp="ngbDatepicker" [(ngModel)]="demande.dateLivraisonSouhaitee"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonSouhaiteeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateAccordDevis" for="field_dateAccordDevis">Date Accord Devis</label>
                    <div class="input-group">
                        <input id="field_dateAccordDevis" type="text" class="form-control" name="dateAccordDevis" ngbDatepicker  #dateAccordDevisDp="ngbDatepicker" [(ngModel)]="demande.dateAccordDevis"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAccordDevisDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateLivraisonPrevue" for="field_dateLivraisonPrevue">Date Livraison Prevue</label>
                    <div class="input-group">
                        <input id="field_dateLivraisonPrevue" type="text" class="form-control" name="dateLivraisonPrevue" ngbDatepicker  #dateLivraisonPrevueDp="ngbDatepicker" [(ngModel)]="demande.dateLivraisonPrevue"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonPrevueDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateMiseEnRecette" for="field_dateMiseEnRecette">Date Mise En Recette</label>
                    <div class="input-group">
                        <input id="field_dateMiseEnRecette" type="text" class="form-control" name="dateMiseEnRecette" ngbDatepicker  #dateMiseEnRecetteDp="ngbDatepicker" [(ngModel)]="demande.dateMiseEnRecette"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateMiseEnRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateValidationRecette" for="field_dateValidationRecette">Date Validation Recette</label>
                    <div class="input-group">
                        <input id="field_dateValidationRecette" type="text" class="form-control" name="dateValidationRecette" ngbDatepicker  #dateValidationRecetteDp="ngbDatepicker" [(ngModel)]="demande.dateValidationRecette"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateValidationRecetteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.dateMiseEnProduction" for="field_dateMiseEnProduction">Date Mise En Production</label>
                    <div class="input-group">
                        <input id="field_dateMiseEnProduction" type="text" class="form-control" name="dateMiseEnProduction" ngbDatepicker  #dateMiseEnProductionDp="ngbDatepicker" [(ngModel)]="demande.dateMiseEnProduction"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateMiseEnProductionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="demande.clientId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemande.histouriqueStatutDemande" for="field_histouriqueStatutDemande">Histourique Statut Demande</label>
                    <select class="form-control" id="field_histouriqueStatutDemande" name="histouriqueStatutDemande" [(ngModel)]="demande.histouriqueStatutDemandeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="histouriqueStatutDemandeOption.id" *ngFor="let histouriqueStatutDemandeOption of histouriquestatutdemandes; trackBy: trackHistouriqueStatutDemandeById">{{histouriqueStatutDemandeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
