:not(.sidebar) .profilUser:not(.bg-cover) {
    background: #fff;
}
.customerIcon {
    color: #ff9800;
    border: 1px solid #ff9800;
}
.requestIcon {
    color: #28a745;
    border: 1px solid #28a745;
}
.documentIcon {
    color: #ac1267;
    border: 1px solid #ac1267;
}
.statisticsIcon {
    color: #2196f3;
    border: 1px solid #2196f3;
}
.profilCustomer {
    height: 70px;
    width: 70px;
}
.not-home {
    padding-top: 80px;
}
h1,
h2,
h3,
h4,
.btn {
    font-weight: 300;
}
h1 {
    text-transform: uppercase;
}
h1.color-white {
    color: #fff;
}
h1 span {
    display: block;
}
h1 span,
h2 span,
h3 span,
h4 span {
    font-weight: bold;
}
h2,
h4 {
    color: #212529;
    font-weight: inherit;
    text-transform: inherit;
}
h3 {
    font-size: 1.2em;
}
.btn-custom ul,
ul.list-style {
    list-style: none;
    padding-left: 0;
}
.fa,
.fas,
.far {
    font-size: 1.2em;
    vertical-align: middle;
    margin: 0 5px;
}

.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle.active {
    background-color: #29b5a8;
}
.btn-toggle.btn-xs {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
    outline: none;
}
.btn-toggle.btn-xs.active {
    transition: background-color 0.25s;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
    outline: none;
}
.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    background: #fff;
    transition: left 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
    left: 1.125rem;
    transition: left 0.25s;
}
