<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-demande-document-heading" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.home.createOrEditLabel">Create or edit a Demande Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!demande_document.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="demande_document.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.dm_doc_libelle" for="field_dm_doc_libelle">Dm Doc Libelle</label>
                    <input type="text" class="form-control" name="dm_doc_libelle" id="field_dm_doc_libelle"
                        [(ngModel)]="demande_document.dm_doc_libelle" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.dm_doc_type" for="field_dm_doc_type">Dm Doc Type</label>
                    <input type="text" class="form-control" name="dm_doc_type" id="field_dm_doc_type"
                        [(ngModel)]="demande_document.dm_doc_type" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.demande" for="field_demande">Demande</label>
                    <select class="form-control" id="field_demande" name="demande" [(ngModel)]="demande_document.demandeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demandeOption.id" *ngFor="let demandeOption of demandes; trackBy: trackDemandeById">{{demandeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
