<div>
    <h2 id="page-heading">
        <span jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.home.title">Demande Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-document" [routerLink]="['/demande-document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.home.createLabel">
            Create new Demande Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="demande_documents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dm_doc_libelle"><span jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.dm_doc_libelle">Dm Doc Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dm_doc_type"><span jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.dm_doc_type">Dm Doc Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="demandeId"><span jhiTranslate="nisrineGatewayApp.demandeMicroServiceDemandeDocument.demande">Demande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demande_document of demande_documents ;trackBy: trackId">
                <td><a [routerLink]="['/demande-document', demande_document.id, 'view' ]">{{demande_document.id}}</a></td>
                <td>{{demande_document.dm_doc_libelle}}</td>
                <td>{{demande_document.dm_doc_type}}</td>
                <td>{{demande_document.url}}</td>
                <td>
                    <div *ngIf="demande_document.demandeId">
                        <a [routerLink]="['../demande', demande_document.demandeId , 'view' ]" >{{demande_document.demandeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/demande-document', demande_document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/demande-document', demande_document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'demande-document', { outlets: { popup: demande_document.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="demande_documents && demande_documents.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
